:root {
  /* background-color: #e5eaf5; */
  background: linear-gradient(
    90deg,
    rgba(160, 210, 235, 1) 0%,
    rgba(229, 234, 245, 1) 42%,
    rgba(208, 189, 244, 1) 100%
  );
  font-family: Monospace;
  width: 100%;
}

.connectMetamask {
  text-align: right;
}

.mainContent {
  font-size: 22px;
  padding: 5px 50px;
}

.inputFieldDivs {
  display: flex;
  flex-wrap: wrap;

  font-size: calc(13px + 0.4vw);
}

.inputFieldsFirst {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(150px + 25vw);
}

.inputFieldsSecond {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(150px + 25vw);
}

.Button {
  width: 50px;
}

.outlined-basic {
  width: 100px;
}
